<div class="container">
    <div class="m-5">
        <div id="todayDeal" class="w-100">
            <strong class="display-4 mb-5">Today's Deal</strong><br>
            <div class="d-flex mt-3 mb-3 bg-light p-3 rounded-pill" *ngFor="let item of deal">
                <div class="mr-3">
                    <img src="{{ item.img }}" class="rounded-circle img-fit" width="100px">
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <div style="font-size: xx-large;">{{ item.name }}</div>
                </div>
            </div>
        </div>
        <div id="reviews" class="w-100">
            <strong class="display-4 mb-5">Customer Reviews</strong><br>
            <div class="d-flex">
                <div id="reviewCard" class="card bg-light m-3" *ngFor="let review of reviews">
                    <div class="card-header">
                        {{review.name}}
                    </div>
                    <div class="card-body">
                        <strong class="card-title">{{review.title}}</strong>
                        <p class="card-text">
                            {{review.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>