<nav class="navbar navbar-expand-lg navbar-dark d-flex flex-column" style="background-color: #A0522D;">
    <a class="navbar-brand d-flex align-items-center justify-content-between m-0 w-100" href="#">
        <img src="assets/images/logo.png" width="150" height="150" class="d-inline-block align-top" alt="" />
        <div class="display-4 align-items-center">
            Blue damnNNN
            <p style="font-size: medium;" class="text-right">-food NOT !!! Served</p>
        </div>
        <div>
        </div>
    </a>
    <div class="d-flex justify-content-center align-items-center m-0 w-100">
        <ul class="navbar-nav" style="font-size:x-large">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/menu" routerLinkActive="active">Menu</a>
            </li>
        </ul>
    </div>
</nav>