<div class="jumbotron d-flex justify-content-between p-5 m-0">
    <div class="mr-5">
        <div>
            <a class="m-3" href="http://www.facebook.com/"><img src="assets/icons/facebook-dark.png" height="25px" width="25px"></a>
            <a class="m-3" href="http://linkedin.com/"><img src="assets/icons/linkedin-dark.png" height="25px" width="25px"></a>
            <a class="m-3" href="https://www.youtube.com/watch?v=PV3_UHG73oQ"><img src="assets/icons/youtube-dark.png" height="25px" width="25px"></a>
            <a class="m-3" href="http://twitter.com/"><img src="assets/icons/twitter-dark.png" height="25px" width="25px"></a>
        </div>
        <div class="mt-3" id="aboutus">
            <div class="mb-4"><strong class="display-4">About Us</strong></div>
            <h6>Expect More Than Coffee</h6>
            <div class="">
                <p>
                    We’re not just passionate purveyors of coffee, but everything else that goes with a full and rewarding coffeehouse experience. We also offer a selection of premium teas, fine pastries and other delectable treats to please the taste buds. And the music
                    you hear in store is chosen for its artistry and appeal.
                </p>
            </div>
        </div>
    </div>
    <div id="contact" class="ml-5 mr-5">
        <h5>Contact Us</h5>
        <br>
        <hr>
        <p>+449876543210</p>
        <hr>
        <p>bluedamateus@cmail.com</p>
        <hr>
    </div>
</div>