<div class="d-flex">
  <div class="container-fluid">
    <div class="row">
      <app-dishes [(test)]="test" class="col-7 p-0"></app-dishes>
      <app-billing [(test)]="test" class="col-5 p-0"></app-billing>
    </div>
  </div>
</div>