<div class="">
  <p>Test value {{test}}</p>
  <button (click)="test = test + 1">Click Me!</button>
  <div class="w-100" *ngFor="let dish of dishes">
    <div class="d-flex justify-content-around">
      <div>{{dish.name}}</div>
      <div>{{dish.price}}</div>
      <div class="d-flex">
        <input type="button" value="-" (click)="decCount(dish)">
        <p>{{dish.count}}</p>
        <input type="button" value="+" (click)="addCount(dish)">
      </div>
    </div>
  </div>
</div>